.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
}
.panel-left {
    flex: none; /* manual resize */
    width: 200px;
    background: blue;
}
.splitter {
    flex: none; /* manual resize */
    width: 100px;
    background: red;
}
.panel-right {
    flex: 1; /* resizable */
    background: yellow;
}