.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
}
.panel-left {
    flex: 2;
    background: blue;
}
.splitter {
    flex: 1;
    background: red;
}
.panel-right {
    flex: 4;
    background: yellow;
}